.container {
  padding: 0;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  font-size: 18px;
  margin-top: 25px;
  padding: 20px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.6);
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  font-weight: 300;
}

.title,
.description {
  text-align: center;
}

.ian {
  font-weight: 500;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  padding-left: 15px;
  padding-right: 15px;
}

@media only screen and (max-width: 960px) {
  .title {
    font-size: 36px;
  }

  .description {
    font-size: 20px;
  }

  .details, .section {
    padding-left: 10px !important;
    padding-right: 10px !important;
    font-size: 24px !important;
    min-width: 300px;
  }

  .header {
    padding-left: 5px;
    font-size: 36px !important;
    font-weight: 500 !important;
  }
}

@media only screen and (max-width: 600px) {
  .cardHeader {
      flex-direction: column !important;
  }
  .projectName {
      font-size: 30px !important;
  }
}

.header {
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 10px;
}

.section {
  padding-left: 30%;
  padding-right: 30%;
  display: flex;
  flex-direction: column;
  
}

.details {
  font-size: 24px;
  padding-left: 15px;
  padding-right: 15px;
}

.divider {
  height: 60px;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 20px;
  height: 90%;
  padding-bottom: 20px;
  padding-left: 20px;
}

.uiuc {
  background-size: 300%;
  animation: flow 1s ease-in-out infinite;
  background: linear-gradient(-60deg, #001aff, rgb(34, 130, 255), #5264ff, #ad7e27, #ffb35c, #ff7b00);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes flow {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}

.card {
  display: flex;
  flex-direction: column;
  margin-right: 15px;

  background-size: 300%;
  animation: flow 1s ease-in-out infinite;
  background: linear-gradient(-60deg, #ffadad, rgb(255, 187, 187), #fababa, #ff9999, #ffcaca);
  /* -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent; */

  border-radius: 20px;
  box-shadow: 0px 4px 5.5px 0px rgba(0, 0, 0, 0.07);
}

.card:active {
  box-shadow: none;
  transform: translateY(5px);
  transition: transform 330ms ease-in-out;
}

.card:hover {
  transform: perspective(200px) translateZ(7.5px);
  transition: transform 250ms ease-in-out;
}

.cardHeader {
  flex: 4;
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.projectName {
  font-weight: 500;
  justify-content: left;
  font-size: 36px;
  flex: 2;
  padding-left: 20px;
  padding-right: 20px;
}

.cardImage {
  justify-content: right;
  background-color: white;
  border-top-right-radius: 20px;
  flex: 1;
  display: flex;
}

.cardBox {
  display: flex;
  flex: 1;
  padding-right: 5px;
  padding-left: 5px;
  justify-content: bottom;
}

.cardDetails {
  padding: 15px;
  background-color: white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  font-size: 18px;
  margin-top: 0;
  margin-bottom: 5px;
  min-width: 100%;
}

.socials {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social {
  height: 50px;
  width: 50px;
  background-color: lightgrey;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  margin: 10px;
}

.social:active {
  box-shadow: none;
  transform: translateY(5px);
}

.social:hover {
  transform: perspective(200px) translateZ(15px);
  transition: transform 250ms ease-in-out;
}